@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


.cac-links{
  @apply text-[#555] mb-[10px]
}


@media screen and (min-width: 768px) {
  .cac-hero{
    background: url('../images/World_map_blue_flat_vector___TeaGraphicDesign-removebg-preview.png') #f5f8fa;
  }
}
